
*{box-sizing: border-box}
body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    margin:0;
}
.mySlideshow {display: none}
img {vertical-align: middle;}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* ---- Navigation ---- */

.name {
	font-size: 1.40em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
    color: #093a58;

}

a{
    text-decoration: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* ==========Base Styles=========*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ========= Media Queries =========== */

@media (min-width: 769px) {
    .main-header,
    .main-nav {
        display:flex;

    }

    .main-header {
        flex-direction:column;
        align-items: center;
    }

}

@media (min-width: 1025px) {

    .main-header{
        flex-direction: row;
        justify-content: space-between;
    }

}